
<launch>

<!--Sim time set -->
<param name="/use_sim_time" value="true"/>

<!--Set map to be used for localization -->
<arg name="map_file"       default="$(find p2_10720253)/maps/camera_imu_map.yaml"/> 

<!--Map Server -->
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>

<!--pointcloud to laserscan conversion -->
<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/os1_cloud_node/points"/>
      <remap from="scan" to="/lidar/scan" />
      <rosparam>
        target_frame: os1_lidar
        transform_tolerance: 0.01
        min_height: 0.0
        max_height: 1.0
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.01
        scan_time: 0.03333
        range_min: 0.3
        range_max: 100.0
        use_inf: true
        concurrency_level: 1
      </rosparam>
    </node>

<!--Static lidar cam transform -->
<node pkg="tf" type="static_transform_publisher" name="camera_lidar_broadcaster" args="-0.675 -0.008 0.96 0 0 0 1  camera_pose_frame os1_sensor 100" />

<!--IMU data merge -->
<node pkg="imu_filter_madgwick" type="imu_filter_node"      name="imu_filter_madgwick_node" output="screen">  
    <remap from="imu/data_raw" to="/mavros/imu/data_raw" />  
    <param name="use_mag" value="false"/>
    <param name="fixed_frame" value="camera_odom_frame"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="zeta" value="0.00"/>
    <param name="gain" value="0.02"/>  
</node>

<!--Robot Pose Ekf IMU-VisualOdom -->
<include file="$(find p2_10720253)/launch/robot_pose_ekf_imu.launch.xml"/> 

<!--AMCL -->
<include file="$(find p2_10720253)/launch/amcl.launch.xml"/>

</launch>

